* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #0e0b0b;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 2px solid #385e38;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.country-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
  }
  .country-list__text{
    text-anchor: middle;
  }

.country-item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  width: 250px;
}

.country-item img {
  max-width: 100%;
  height: auto;
}

.country-item h2 {
  margin-top: 0;
  font-size: 24px;
}

.country-item p {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.5;
}
.img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}